@media only screen and (max-width: 767px) {
  /* HERO MOBILE STYLE */
  @media (max-width: 768px) {
    .hero1 {
      width: 100%;
      margin-top: 25%;
      flex-direction: column;
      align-items: center;
      padding: 0 2%; /* Adjust padding for smaller screens */
    }

    .hero-text h1 {
      padding: 0 5%;
      text-align: center;
      font-size: 2.5rem;
      line-height: 1.33;
    }

    .hero-text p {
      font-weight: 600;
      line-height: 1.5;
      padding: 8% 2% 0; /* Adjust padding for smaller screens */
      text-align: center;
      font-size: 1.25rem;
    }

    .app-play-store {
      /* margin: 10px 0; Adjust margin for smaller screens */
      margin: 0 10%;
    }

    .cbn-ndic img {
      width: 375px; /* Adjust width for smaller screens */
      margin-top: 2%;
    }

    .hero-img img {
      margin: 4% 0;
      width: 100%;
      max-width: 500px; /* Adjust max width for smaller screens */
    }
  }

  /* .hero {
    width: 100%;
    margin-top: 25%;
    flex-direction: column;
    align-items: center;
  }
  .hero h1 {
    padding: 5%;
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.33;
  }
  .hero p {
    font-weight: 600;
    line-height: 1.5;
    padding: 8% 8% 0;
    text-align: center;
    font-size: 1.25rem;
  }

  .app-play-store {
    margin: 3px 85px;
  }
  .cbn-ndic img {
    width: 90%;
    margin-left: 5%;
  }

  .hero-img img {
    margin: 4% 3%;
    width: 80%;
  } */

  /* this reverse the wrap applied from the hero, some cards have image before text so this wraps them in reverse for mobile */
  .wrap-reverse {
    flex-direction: column-reverse;
  }

  /* ///////// */

  /* FIRST SET OF CARDS MOBILE STYLE */
  .card {
    margin-bottom: 3%;
  }
  .card-item {
    width: 90%;
    height: 70px;
    display: flex;
    align-items: center;
    margin: 0 0 2px 10px;
  }
  /* to fit the paragraph into the newly assigned height for mobile */
  .card-details {
    height: 37px;
    margin-top: 1%;
  }

  .card-details p {
    line-height: 1.5;
    margin-left: 18px;
    font-size: 0.805rem;
    font-weight: 900;
  }

  /* YOUR PHONE + OUR APP MOBILE STYLE */
  .phone-app {
    /* Margin top to space Phone + App container  from the cards container*/
    margin-top: 5%;
  }
  .phone-app h2,
  .manage-money h2 {
    width: 320px;
    font-size: 1.8rem;
    line-height: 1.38;
    text-align: center;
  }
  .phone-app .debit-details,
  .manage-money .debit-details {
    /* width: 80%; */
    padding: 5% 5% 0 0;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    /* margin: 0 auto;/ */
  }

  /* ///////////// */
  .sponsors-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 10px;
    justify-content: center;
    align-items: center;
  }
  .sponsors-container img {
    width: 70%;
    padding: 2% 5%;
  }
  .partner-container img {
    width: 120px;
    padding: 4% 5%;
  }

  .take-our-word h2 {
    font-size: 32px;
    padding: 2%;
  }
  .banner-image {
    display: none;
  }

  .banner {
    width: 88%;
    padding: 15% 10%;
  }
  .banner-content {
    max-width: 100%; /* Adjust width to fit the layout */
  }
  .banner-content h1 {
    width: 100%;
    font-size: 26px;
    line-height: 29.68px;
    text-align: center;
  }
  .banner-content p {
    text-align: center;
    font-size: 12.38px;
    font-weight: 400;
    line-height: 24px;
  }
  .banner-app {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer {
    padding: 0;
  }
  .footer-app-store p {
    margin-top: 8%;
    font-size: 10px;
  }
  .footer-column {
    margin: 5% 0;
  }
  .footer-column {
    width: 50%;
    padding: 2% 5% 0 0.5%;
  }
  .footer-logo {
    width: 100%;
  }
  .footer-app-store img {
    width: 90px;
    margin-left: 3%;
  }
  .footer-app-store .web {
    margin-left: 0px;
  }
  .second-footer {
    flex-direction: column;
    padding: 1% 0% 0 5%;
  }
  .second-footer-details {
    padding-top: 15%;
  }
  .allrights-reserved {
    padding-left: 2%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .hero1 {
    /* width: 100%; */
    margin: 20% 1.5% 8%;
  }
  .hero {
    margin: 5% 1.5% 8%;
  }
  .hero1 h1 {
    line-height: 1.5;
    font-size: 2.5rem;
  }
  .hero-text {
    width: 50%;
  }
  .hero1 p {
    width: 100%;
    line-height: 1.5;
    font-size: 1.05rem;
  }
  .wrap-reverse {
    flex-direction: column-reverse;
  }

  .hero2 {
    flex-direction: column;
  }
  .phone-app h2,
  .manage-money h2 {
    width: 320px;
    font-size: 1.8rem;
    line-height: 1.38;
    text-align: center;
  }
  .phone-app .debit-details,
  .manage-money .debit-details {
    /* width: 80%; */
    padding: 5% 5% 0 0;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
  }
  .manage-money {
    margin-bottom: 5%;
  }
  .hero .manage-money a {
    /* text-align: center; */
    margin-left: 100px;
  }
  /* specific class for links that refuse to align center */
  .center {
    display: block;
    margin: 0 75px;
  }
  /* fee clear as glass class, targeting it alone to reduce its width, larger than others */
  .hero-img .fee-img {
    width: 400px;
  }
  /* don't take our word */
  .slider-container {
    flex-wrap: nowrap;
  }
  .sponsors-container img{
    width: 50%;
  }
  .more-for-you-card-container{
    flex-wrap: nowrap;
    /* gap: 0; */
  }
  .more-for-you-cards{
    padding: 10px;
  }
  .icon-details p{
    line-height: 20px;
    font-size: 14px;
  }
  .banner-image {
    display: none;
  }

  .banner {
    width: 88%;
    padding: 15% 10%;
  }
  .banner-content {
    max-width: 100%; /* Adjust width to fit the layout */
  }
  .banner-content h1 {
    width: 100%;
    font-size: 26px;
    line-height: 29.68px;
    text-align: center;
  }
  .banner-content p {
    text-align: center;
    font-size: 12.38px;
    font-weight: 400;
    line-height: 24px;
  }
  .banner-btn{
    display: block;
    margin: 0 auto;
  }
  .join-button {
    display: block;
  }
}
