@media only screen and (max-width: 767px) {
  body {
    display: block;
    width: 100%;
  }
  /* HERO MOBILE STYLE */
  .hero {
    width: 100%;
    margin-top: 20%;
    flex-wrap: wrap;
  }

  /* this reverse the wrap applied from the hero, some cards have image before text so this wraps them in reverse for mobile */
  .wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .hero h1 {
    margin-top: 10px;
    padding: 7%;
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.33;
  }
  .hero p {
    font-weight: 600;
    line-height: 1.5;
    padding: 8%;
    text-align: center;
    font-size: 1.25rem;
  }
  .app-play-store {
    margin: 12% 85px 3%;
  }
  .cbn-ndic {
    margin-left: 12%;
  }

  .hero-img img {
    margin: 4% 2%;
    width: 100%;
  }
  /* ///////// */

  /* FIRST SET OF CARDS MOBILE STYLE */
  .card {
    margin-bottom: 12px;
  }
  .card-item {
    width: 95%;
    height: 70px;
    display: flex;
    align-items: center;
    margin: 0 0 2px 25px;
  }
  /* to fit the paragraph into the newly assigned height for mobile */
  .card-details {
    height: 37px;
    margin-top: 1%;
    line-height: 15.4px;
  }

  .card-details p {
    line-height: 1.5;
    margin-left: 18px;
    font-size: 0.905rem;
    font-weight: 900;
  }

  /* YOUR PHONE + OUR APP MOBILE STYLE */
  .phone-app {
    /* Margin top to space Phone + App container  from the cards container*/
    margin-top: 5%;
  }
  .phone-app h2,
  .manage-money h2 {
    font-size: 2rem;
    line-height: 1.38;
    text-align: center;
  }
  .phone-app .debit-details,
  .manage-money .debit-details {
    /* width: 100%; */
    padding: 5% 1% 0 1%;
    font-size: 1rem;
    line-height: 1.5;
  }
  .phone-app .link,
  .manage-money .link {
    font-size: 12.75px;
    margin-left: 80px;
    /* line-height: 16px; */
    /* text-align: center; */
  }
  /* ///////////// */
  .sponsors-container img {
    width: 80%;
    padding: 0% 10%;
  }
  .partner-container img {
    width: 120px;
    padding: 4% 5%;
  }
  
  .take-our-word h2 {
    font-size: 32px;
    padding: 2%;
  }
  .banner-image {
    display: none;
  }

  .banner {
    width: 88%;
    padding: 15% 10%;
  }
  .banner-content {
    max-width: 100%; /* Adjust width to fit the layout */
  }
  .banner-content h1 {
    width: 100%;
    font-size: 26px;
    line-height: 29.68px;
    text-align: center;
  }
  .banner-content p {
    text-align: center;
    font-size: 12.38px;
    font-weight: 400;
    line-height: 24px;
  }
  .banner-app {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer {
    padding: 0;
  }
  .footer-app-store p {
    margin-top: 8%;
    font-size: 10px;
  }
  .footer-column {
    padding: 5% 5% 0 0.5%;
  }
  .footer-logo {
    width: 100%;
  }
  .footer-app-store img {
    width: 90px;
    margin-left: 3%;
  }
  .footer-app-store .web {
    margin-left: 0px;
  }
  .second-footer {
    flex-direction: column;
    padding: 1% 0% 0 5%;
  }
  .second-footer-details {
    padding-top: 15%;
  }
  .allrights-reserved {
    padding-left: 2%;
  }
}
