@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
*::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  list-style: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  /* max-width: 1440px; */
  margin: 0 auto;
  overflow-x: hidden;
}
a {
  color: #40196d;
}
button {
  background-color: #40196d;
  color: white;
  padding: 14.6px 31.36px 15.4px 31.36px;
  border-radius: 10px;
  border: none;
  outline: none;
  height: 46px;
  width: 136px;
  font-size: 15.25px;
  font-weight: 700;
  line-height: 16px;
}
.navContainer {
  display: flex;
  justify-content: space-between;
  padding: 0px 70px;
  background-color: white;
  box-shadow: 0px 4px 13px 0px #0000000d;
  height: 70px;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.nav-large {
  display: flex;
  max-width: 1440px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.mobileView {
  display: none;
  align-items: center;
  gap: 20px;
}

.Logo-menu {
  display: flex;
  gap: 80px;
}

.nav-list {
  display: flex;
  gap: 50px;
  /* #40196D */
}
.nav-list p {
  font-size: 13.56px;
  font-weight: 700;
  line-height: 21px;
  color: #40196d;
}
.nav-list p span {
  font-size: 9px;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 65%;
  padding: 10px 0px;
  z-index: 5;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.dropdown .dropdown-content li {
  padding: 10px 16px;
}
.dropdown .dropdown-content a {
  text-decoration: none;
  font-size: 14px;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown .dropdown-content a:hover {
  color: #40196d;
}

.Sign-up {
  display: flex;
  gap: 30px;
  align-items: center;
}
.Sign-up a {
  text-decoration: none;
  font-size: 13.89px;
  font-weight: 700;
  line-height: 14px;
}
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 3;
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(100%);
  transition: transform 0.5s ease-in;
}

.mobile-menu.open {
  transform: translateX(0);
}

.mobile-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.mobile-sign {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 2% 0;
}
.button2 {
  background-color: #dfe3ff;
  color: #40196d;
}
.mobile-menu-content ul {
  list-style: none;
  padding: 0;
}

.mobile-menu-content ul li {
  width: 98%;
  padding: 2% 0;
  border-bottom: 1px solid #e0e0e0;
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 21px;
  color: #40196d;
}
.mobile-menu-content .dropdown-content ul li {
  border-bottom: none;
}

.moblieLiFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.moblieLiFlex span i {
  font-size: 12px;
}

.menu-icon,
.close-icon {
  cursor: pointer;
  color: #40196d;
}

@media screen and (max-width: 1023px) {
  .navContainer {
    padding: 0px 30px;
  }

  .navWidth {
    width: 95%;
    overflow-x: hidden;
  }
  .Sign-up,
  .navitems {
    display: none;
  }
  .mobileView {
    display: flex;
  }
  .mobile-menu {
    display: block;
  }
  .dropdown-content {
    position: relative;
    /* left: 0; */
  }
}
